<html>
<head>
    <meta charset="UTF-8">
    <title>Stock Search</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="section-1">
        <h1>Stock Search</h1>
    
        <form id="stock-form" method="POST">
            <label>Enter Stock Ticker Symbol</label>
            <input type="text" id="ticker" name="ticker">
            <br>
            <button type="submit">Search</button>
            <button type="button" onclick="document.getElementById('ticker').value = '';">Clear</button>
        </form>
    </div>
</body>
</html>