<html>
<head>
    <meta charset="UTF-8">
    <title>Stock Search</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="section-1">
        <h1>Stock Search</h1>
    
        <form id="stock-form" method="POST">
            <label>Enter Stock Ticker Symbol</label>
            <input type="text" id="ticker" name="ticker">
            <br>
            <div class="user-buttons">
                <button type="submit" class="user-button">Search</button>
                <button type="button" class="user-button" onclick="document.getElementById('ticker').value = '';">Clear</button>
            </div>
            
        </form>
    </div>

    <div class="section-2">
        <div class="tab-bar">
            <button class="tab-button" onclick="openTab('outlook')">Company Outlook</button>
            <button class="tab-button" onclick="openTab('summary')">Stock Summary</button>
            <button class="tab-button" onclick="openTab('history')">Search History</button>
          </div>
    </div>

</body>
</html>